<div class="col-md-6 col-md-offset-3 well">
    <form method="post">
        <center><h5>sign into your account</h5></center>
        <br />
        <input name="Email" placeholder="email" class="form-control" />
        <br />
        <input type="password" name="password" placeholder="Password" class="form-control" />
        <br />
        <button class="btn btn-info form-control">Submit</button>
        <a href="/viewer/signup">sign up for account</a>
    </form>
</div>