<div class="col-md-6 col-md-offset-3 well">
    <form method="post">
        <input name="Name" placeholder="name" class="form-control" />
        <br />
        <input name="Email" placeholder="email" class="form-control" />
        <br />
        <input type="password" name="Password" placeholder="Password" class="form-control" />
        <br />
        <button class="btn btn-info form-control">Submit</button>
    </form>
</div>